<div class="container-fluid main-content">
    <div class="content">
        <div>
            <img src="../../assets/images/dog.jpg" alt="Girl in a jacket" class="dog-img">
        </div>
        <div class="dog-text">
            <div class="beach-day">
                Beach Day
            </div>
            <div class="dog-name">
                Rufus the dog
            </div>
            <div class="modified-date">
                Modified 02/28/2019 by bfrost
            </div>
        </div>
        
    </div>
</div>


